@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
  --primary-color: #00b894;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  padding: 5rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section__title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.section__subtitle {
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 5rem;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a{

}

.nav__logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
  font-weight: 800;
}

.nav__logo span{
    color: #00b894;
    font-weight: 900;
}

.nav__links {
  display: none;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.link {
  color: var(--extra-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: var(--primary-color);
}

/* .h-right{
    display: flex;
    align-items: center;
}

.h-right a:first-child{
    color: var(--extra-light);
    font-size: var(--p);
    margin-right: 20px;
} */



header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("assets/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

main {
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  section .media-icons 
{
    z-index: 888;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 100px;
}
section .media-icons a
{
    color: white;
    font-size: 1.6em;
    font-weight: 600;  
    margin: 15px;  
    transform: 0.3 ease;
}
section .media-icons a:hover
{
    transform: scale(1.3);
}
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    /*background: #00b894;*/
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  

.journey__container {
  background-color: var(--secondary-color);
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.country__card {
  background-color: var(--extra-light);
}

.country__name {
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
}

.country__name i {
  font-size: 1.2rem;
}

.country__name span {
  font-style: italic;
}

.banner__container {
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("assets/bg-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.banner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.banner__content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.banner__content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.display__container {
  background-color: var(--secondary-color);
}

.display__container :is(.section__title, .section__subtitle) {
  color: var(--text-dark);
}

.display__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.display__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
}

.display__card i {
  font-size: 2rem;
  color: var(--primary-color);
}

.display__card h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__card p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__grid .grid-1 {
  grid-area: 1/1/3/3;
}

footer {
    background-color: var(--text-dark);
    color: var(--secondary-color);
  }
  
  footer .section__container {
    color: #00b894;
    display: grid;
    gap: 1.5rem;
    text-align: center;
  }
  
  footer h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
.social__icons {
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
}

.social__icons i{
padding: 5px;
font-size: 1.2rem;
cursor: pointer;
}
  
  footer p {
    font-style: italic;
  }
  
  @media (min-width: 640px) {
    .nav__links {
      display: flex;
    }
  
    header .section__container {
      justify-content: flex-start;
    }
  
    .header__content {
      max-width: 400px;
      align-items: flex-start;
    }
  
    .header__content p {
      text-align: left;
    }
  
    .journey__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  
    .display__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .display__card {
      gap: 0;
    }
  
    .display__card i {
      font-size: 1.75rem;
    }
  
    .display__card h4 {
      font-size: 1rem;
    }
  
    .display__card p {
      font-size: 0.7rem;
    }
  }
  
  @media (min-width: 786px) {
    .banner__container .section__container {
      justify-content: flex-end;
    }
  
    .banner__content {
      align-items: flex-end;
      text-align: right;
      max-width: 800px;
    }
  
    .display__card {
      gap: 0.5rem;
    }
  
    .display__card i {
      font-size: 2.5rem;
    }
  
    .display__card p {
      font-size: 0.8rem;
    }
  }
  
  @media (min-width: 1024px) {
    .display__card {
      gap: 1rem;
    }
  
    .display__card i {
      font-size: 3rem;
    }
  
    .display__card h4 {
      font-size: 1.5rem;
    }
  
    .display__card p {
      font-size: 1rem;
    }
  }
  
@keyframes changetext {
    0% {
      content: "Darjeeling";
    }
    20% {
      content: "Agra";
    }
    35% {
      content: "Jaipur";
    }
    60% {
      content: "kerala";
    }
    80% {
      content: "delhi";
    }
    100% {
      content: "Mumbai";
    }
}